---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<h2>The New Generation Of Workers</h2>
			<p>
			        Get started with our interactive laboratory playground! Check out our step-by-step walkthroughs to get a sneak peek of the road ahead👀!
		        </p>
	<Container>
	<div style="position: relative; padding-bottom: calc(51.87847730600292% + 44px); height: 0;"><iframe src="https://app.supademo.com/embed/GM0DLmXMPj7adHp_4yakl" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Check out our Playground walkthrough!</h2>
			<p>
				LIVE guide into our playground dashboard. LEARN how to customize and use your personal Sapiens IA dashboard and turn it into your new daily workspace🧬
			</p>
			<div style="position: relative; padding-bottom: calc(51.87847730600292% + 44px); height: 0;"><iframe src="https://app.supademo.com/embed/4uolipQQy6Ao2UigGwNmN" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
