---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Base.astro';
import HomeHeroSection from '../components/sections/heros/playgroundherosection.astro';
import {
	TextCardSection,
	Container,
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@littlesticks/odyssey-theme-components';
import QuickstartForm from '../components/forms/QuickstartForm.astro';
import {Icon} from 'astro-icon';
const seo = {
	title: 'Quickstart 1/3',
	description: 'Design, train and deploy your own AI assistant.',
};

---

<Layout>
  <script type='module' src='https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js'></script>
  <zapier-interfaces-page-embed page-id='clgrpxnef0009l20f4dr27nrd' no-background='true' style={{width: "100%", height: "100vh", border: "none"}}></zapier-interfaces-page-embed>
  <Container>
		<TextCardSection>
			<h1>Quickstart⚡1/3</h1>
			<div class="cta-buttons__container">
        <Button
					href="/quickstart/"
          customIcon
					>
          Continue?☑️
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

