---
import {Icon} from 'astro-icon'
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptionsPersonality = [
  "Friendly",
  "Professional",
  "Creative",
  "Analytical",
  "Strategist",
  "Scientist",
  "Mentor",
  "Expert",
  "Psychologist",
  "other",
];

const selectOptionsStyle = [
  "Casual",
  "Formal",
  "Playful",
  "Technical",
  "Sarcastic",
  "Persuassive",
  "Technical",
  "Philosophical",
];
---

<form name="AI Assistant Customization Form" method="POST" data-netlify="true" action="/playground/" >
  <FormInput type="text" label="AI Name" name="AI Name" placeholder="Your Assistant Name" />
  
  <FormSelect label="Personality" name="Personality" options={selectOptionsPersonality} />

  <FormSelect label="Communication Style" name="Communication Style" options={selectOptionsStyle} />

  <FormInput type="text" label="System Role" name="SystemRole" placeholder="Enter your generated System Role here..." />

  <Button customIcon>Save AI Configuration
    <Fragment slot="icon">
      <Icon name="ic:baseline-save" />
    </Fragment>
  </Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
