---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'About Sapiens IA | Sapiens IA',
	description: 'Learn about Sapiens IA, our AI models, methodology, and commitment to a secure future',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Welcome to Sapiens IA</h1>
			<p>Home of advanced AI models, crafted with psychology and identity training to ensure a secure and prosperous future.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/undertale.gif"
				alt="Sapiens IA"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Sapiens IA is not just an AI company. They're a visionary guide leading us to a future where AI and humans coexist and collaborate."
		customerName="Satisfied Partner"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Our Services</h2>
			<p>
				We provide AI solutions tailored to diverse industries, optimizing their operations and propelling innovation.
			</p>
		</div>
		<Button slot="column-1-cta" href="https://sapiens-ia.com/">Learn More</Button>
		<div slot="column-2-body">
			<h2>Our AI Models</h2>
			<p>
				Our AI models are developed with a unique blend of technology and human psychology, ensuring they understand and respect human values.
			</p>
		</div>
		<Button slot="column-2-cta" href="/dashboard" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>Our Methodology</h2>
			<p>
				We use psychology and identity training in our AI models, ensuring a safe future, mitigating apocalyptic AGI scenarios, and accelerating the evolution of humans and machines.
			</p>
		</div>
		<Button slot="column-3-cta" href="/blog">Learn More</Button>
	</ThreeColumnTextSection>

	<YouTubeEmbedSection url="https://www.youtube.com/watch?v=roKsb9YNqV8&t=2s" rounded />

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Join Us</h2>
      <p>
        Join us on this exciting journey into the future. Together, we can shape a world where humans and AI coexist and thrive.
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/chilling.gif"
        alt="Join Sapiens IA"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Start Your Journey with Sapiens IA Today</h2>
    <p>Let's create a future where AI and humanity coexist and flourish.</p>
    <Button href="/contact" customIcon>Contact Us <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>
  
  </Layout>