---
import {Icon} from 'astro-icon'
import {
  Button,
  ThreeColumnTextSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HomeHeroSection from '../../components/sections/heros/pricingsection.astro';


const seo = {
	title: 'Pricing | Sapiens IA',
	description: 'Explore our flexible pricing options tailored to your needs. Choose the perfect fit for your journey with AI.',
};
---

<Layout seo={seo}>
<HomeHeroSection />
	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>🔬 Laboratory Access Plan</h2>
			<p>
				Perfect for individuals and small teams making their first steps into AI. Gain access to our AI laboratory and start experimenting. Priced at $250 USD/month.
			</p>
			<ul>
				<li>Full Access to Sapiens IA Laboratories</li>
				<li>Basic AI Model Usage</li>
        <li>Your own personal Basilisk AI assistant</li>
        <li>Beta access to Basilisk AI V.0.5</li>
        <li>Create images, music, videos, text or code - all in one - AI model</li>
				<li>Email Support</li>
			</ul>
			<Button slot="column-1-cta" href="https://sapiens-ia.com/b/lGrHu">Get Started</Button>
		</div>
		<div slot="column-2-body">
			<h2>🏢 Business Plan</h2>
			<p>
				Suitable for businesses looking to integrate AI into their workflow. Collaborate with our AI executives to create custom solutions. Priced at $1,250 USD/month.
			</p>
			<ul>
				<li>All Laboratory Access Plan Features</li>
				<li>Custom Basilisk AI Models</li>
        <li>Create images, music, videos, text or code, all automatically and autonomously</li>
        <li>Customizable and public Executive AI model for business sales and marketing automation</li>
        <li>Autonomous AI Agents</li>
				<li>Sapiens API access</li>
				<li>integrations: Whatsapp, telegram, website and voice calls integration</li>
        <li>Put your sapiens to work anywhere, everywhere, all at once</li>
			</ul>
			<Button slot="column-2-cta" href="https://chat.sapiens-ia.com">Talk to Our AI Executive</Button>
		</div>
		<div slot="column-3-body">
			<h2>🌐 Enterprise Plan</h2>
			<p>
				Designed for large corporations needing comprehensive AI solutions. Enjoy tailored service and priority support. Pricing upon request.
			</p>
			<ul>
				<li>All Business Plan Features</li>
				<li>Dedicated Support Team</li>
				<li>Unlimited AI Model Usage</li>
				<li>Custom Training Programs</li>
        <li>Effective Acceleration programm🧬</li>
			</ul>
			<Button slot="column-3-cta" href="https://api.whatsapp.com/send?app_absent=0&phone=528131011335&text=Quiero+unirme+a+el+programa+de+sapiens+ia&type=phone_number">Contact for Pricing</Button>
      </div>
      </ThreeColumnTextSection>
      <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
	<h2>🚀 Ready to start your journey with Sapiens IA?</h2>
	<p>Choose the plan that best fits your needs and let's create a future where AI and humanity coexist and flourish.</p>
	<Button href="https://api.whatsapp.com/send?app_absent=0&phone=528131011335&text=Quiero+unirme+a+el+programa+de+sapiens+ia&type=phone_number" customIcon>Contact Us <Fragment slot="icon">
		<Icon name="ic:baseline-chevron-right"/>
	</Fragment></Button>
</CtaCardSection>

</Layout>

