---
import {Icon} from 'astro-icon';
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Get Started using the Sapiens IA Playground',
	description: 'Get started on how to setup and use your own AI assistant.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Where do we go now?🧬</h1>
			<div class="cta-buttons__container">
        <Button
        href="https://chat.sapiens-ia.com"
        outlined
        newTab
        customIcon
        >
        QuickChat💬
        <Fragment slot="icon">
          <Icon name="ic:baseline-launch" />
        </Fragment>
      </Button>
        <Button
					href="/dashboard/"
          customIcon
					>
          Playground♟
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
        <Button
					href="/mybasilisk-design/"
          customIcon
					>
          QuickStart⚡️
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
